/* || Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, svg, video, canvas {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

input, button, textarea, select {
font: inherit;
}

/* || Variables */

:root {
  --color-one: #212529;
  --color-two: #f3f7f8;
  --color-three: #9a9a9a65;
}

/* || Document */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--color-one);
}

body {
  height: 100dvh;
}

/* || Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .7em;
  color: var(--color-two);
  background-color: var(--color-one);
}
.header .slogan {
  display: flex;
  gap: .5em;
  font-size: .7rem;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 1em;
}
.actions .action {
  background: none;
  border: none;
  color: var(--color-two);
  padding: .5em;
  border-radius: 50px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.highlight {
  background-color: var(--color-one);
  transition: .3s ease-in-out;
}

.toolbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: auto;
  margin-bottom: 2em;
  max-width: fit-content;
  border-radius: 100px;
  background-color: white;
}

/* || Main */

.main {
  min-height: 100%;
  width: 100vw;
}

.dropdown {
  display: flex;
  flex-direction: column;
}
.dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8em;
  color: var(--color-one);
  border-bottom: 1px solid var(--color-three);
}
.dropdown-title {
  font-size: 1.2rem;
  font-weight: 500;
}
.dropdown-content {
  display: grid;
  row-gap: 1em;
  border-bottom: 1px solid var(--color-three);
  padding: 1.5em;
}
.dropdown-arrow {
  transition: .3s ease-in-out;
}

.form {
  flex-basis: 100%;
  display: grid;
  grid-template-rows: auto;
  gap: 1em;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.input-label {
  font-size: 1rem;
  font-weight: 500;
}
.input {
  border: 1px solid var(--color-three);
  border-radius: 5px;
  padding: .3em;
}

.cards-wrapper {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  gap: 1em;
  max-width: 60ch;
}
.cards-wrapper:not(:has(:first-child)) {
  display: none;
}
.card {
  background: none;
  color: var(--color-one);
  padding: .6em;
  border: 2px solid var(--color-one);
  border-radius: 10px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8em;
  font-weight: 500;
}

.button-one,
.button-two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .6em;
  border: 2px solid var(--color-one);
  color: white;
  font-weight: 500;
  background: var(--color-one);
  border-radius: 10px;
  min-width: 80px;
  justify-self: end;
  display: flex;
  gap: .5em;
}
.button-two {
  background: none;
  color: var(--color-one);
}

.card-button {
  background: none;
  border: none;
  cursor: pointer;
  min-width: 24px;
}

.typing {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1em;
}

.experience-card {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  grid-template-rows: repeat(3, min-content);
  gap: 0;

  & .job-position {
    grid-column: 1 / 2;
  }

  & .company {
    grid-column: 1 / 2;
    font-size: .9rem;
  }

  & .date-info {
    grid-column: 2 / 3;
    display: flex;
    justify-self: end;
    margin-right: 1em;
  }

  & .location {
    grid-column: 2 / 3;
    justify-self: end;
    margin-right: 1em;
    font-size: .9rem;
  }

  & .description {
    padding-top: 1em;
    grid-column: 1 / 3;
    white-space: pre-wrap;
    font-family: inherit;
    margin-right: 1em;
  }

  /* & .card-buttons-wrapper {
    grid-column: -2 / -1;
    grid-row: 1 / -1;
    align-self: start;
    display: flex;
    flex-direction: column;
    gap: .5em;
  } */
}

.card-buttons-wrapper {
  grid-column: -2 / -1;
  grid-row: 1 / -1;
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.education-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  grid-template-rows: repeat(3, min-content);
  gap: 0;

  & .school {
    grid-column: 1 / -2;
    grid-row: 1 / 2;
  }

  & .degree {
    grid-column: 1 / -2;
    grid-row: 2 / 3;
    font-size: .9rem;

  }

  & .date-info {
    grid-column: 1 / -2;
    grid-row: 3 / -1;
    font-size: .9rem;
  }
}

.contact-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5em;

  & .link {
    color: inherit;
  }

  & .contact-section {
    border-left: 2px solid var(--color-three);
    padding-left: .5em;

    & :not(.data) {
      font-size: .8rem;
    }
  }
}