@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* || Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, svg, video, canvas {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

input, button, textarea, select {
font: inherit;
}

/* || Variables */

:root {
  --color-one: #212529;
  --color-two: #f3f7f8;
  --color-three: #9a9a9a65;
}

/* || Document */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--color-one);
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
  align-content: start;
}

body {
  height: 100dvh;
}

/* || Main */
.main {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.section-form {
  border-right: 1px solid var(--color-three);
}

.section-resume {
  width: 100%;
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* || Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .7em;
  color: var(--color-two);
  background-color: var(--color-one);
}
.logo {
  display: flex;
  align-items: center;
  font-size: .7rem;
}

/* || Header nav */
.nav {
  display: flex;
  gap: 1em;
}
.nav-button {
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #FFFFFF;
  gap: .5em;
  padding: .2em;
}
.nav-button.view-pdf {
  display: none;
}

/* || Dropdown */
.dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8em;
  color: var(--color-one);
  border-bottom: 1px solid var(--color-three);

  .dropdown-title {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .dropdown-arrow {
    transition: .3s ease-in-out;
  }
}
.dropdown {
  display: grid;

  display: grid;
  grid-template-rows: 0fr 0fr;
  transition: grid-template-rows 400ms;
}
.dropdown.is-opened {
  grid-template-rows: min-content 1fr;

  .dropdown-content {
    display: grid;
    border-bottom: 1px solid var(--color-three);
  }
}

.dropdown-content {
  display: grid;
  row-gap: 1em;
  overflow: hidden;
}
.dropdown-content > .form-container {
  padding: 1.5em;
}
.dropdown-content > .cards-wrapper {
  padding: 1.5em;
  padding-top: 0;
}


/* || Form */
.form-container {
  padding: 1.5em;
  display: grid;
  
  grid-template-rows: 0fr min-content;
  transition: grid-template-rows 300ms;
}
.form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  overflow: hidden;
}
.form-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1em;
}

.form-container.is-opened {
  grid-template-rows: 1fr 0fr;
  transition: grid-template-rows 300ms;

  .button-open-form {
    display: none;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.input-label {
  font-size: 1rem;
  font-weight: 500;
}
.input {
  border: 1px solid var(--color-three);
  border-radius: 5px;
  padding: .3em;
}

.cards-wrapper {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}
.cards-wrapper:not(:has(:first-child)) {
  display: none;
}
.card {
  background: none;
  color: var(--color-one);
  padding: .6em;
  border: 2px solid var(--color-one);
  border-radius: 10px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8em;
  font-weight: 500;
}
.card-button {
  background: none;
  border: none;
  cursor: pointer;
  min-width: 24px;
}

.button-one,
.button-two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .6em;
  border: 2px solid var(--color-one);
  color: white;
  font-weight: 500;
  background: var(--color-one);
  border-radius: 10px;
  min-width: 80px;
  justify-self: end;
  display: flex;
  gap: .5em;
  cursor: pointer;
}
.button-two {
  background: none;
  color: var(--color-one);
}

.experience-card {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  grid-template-rows: repeat(2, min-content);
  gap: 0;

  & .job-position {
    grid-column: 1 / 2;
  }

  & .company {
    grid-column: 1 / 2;
    font-size: .9rem;
  }

  & .date-info {
    grid-column: 2 / 3;
    display: flex;
    justify-self: end;
    margin-right: 1em;
  }

  & .location {
    grid-column: 2 / 3;
    justify-self: end;
    margin-right: 1em;
    font-size: .9rem;
  }

  & .description {
    padding-top: 1em;
    grid-column: 1 / 3;
    white-space: pre-wrap;
    font-family: inherit;
    margin-right: 1em;
  }
}

.card-buttons-wrapper {
  grid-column: -2 / -1;
  grid-row: 1 / -1;
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.education-card {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: repeat(3, min-content);
  gap: 0;
  column-gap: 1em;

  & .school {
    grid-column: 1 / -2;
    grid-row: 1 / 2;
  }

  & .course {
    grid-column: 1 / -2;
    grid-row: 2 / 3;
    font-size: .9rem;
  }

  & .date-info {
    grid-column: 1 / -2;
    grid-row: 3 / -1;
    font-size: .9rem;
  }
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5em;
  padding-right: 3em;

  & .link {
    color: inherit;
  }

  & .contact-section {
    border-left: 2px solid var(--color-three);
    padding-left: .5em;

    & :not(.data) {
      font-size: .8rem;
    }
  }
}



/* || PDF */
.pdf {
  font-family: Poppins;
  display: grid;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 2em;
  padding: 3em;
  display: grid;
  justify-items: center;
  align-content: start;
  color: black;
  width: 100%;
  max-width: 800px;
  height: auto;
  aspect-ratio: 1 / 1.5;
  border: 1px solid #bbbebf7c;

  .highlight {
    color: #007e72;
    background: none;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .section {
    display: flex;
    flex-direction: column;
    padding: 1em 0 .5em 0;
    width: 100%;
  }

  .section-title {
    justify-self: start;
  }

  .name {
    font-size: 2rem;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
    gap: .5em;

    .info {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      font-size: 1rem;
      white-space: pre-wrap;
   

      .contact-text:not(:last-child):after {
        content: ' • ';
      }
    }
  }

  .education-history {
    
    .education-list {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .education {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;

        .school {
          font-weight: 600;
        }

        .course {
          grid-row: 2 / -1;
          grid-column: 1 / 2;
        }

        .date-info {
          justify-self: end;
          grid-row: 2 / -1;
        }
      }
    }
  }

  .experience {

    .experiences {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .experience {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, min-content);
      }
    }

    .job-position {
      font-weight: 600;
    }

    .date-info {
      justify-self: end;
      display: flex;
    }

    .location {
      justify-self: end;
    }

    .description {
      margin-top: .5em;
    }
  }

  .section.skills {
    display: grid;
    grid-template-rows: auto;

    ul.skills-list {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      
      li.skill {
        list-style: none;
        padding: 0;
      }
      
      li.skill:before {
        content: '• ';
        font-size: 1.4em;
      }
    } 
  }

  .section.languages {
    display: grid;
    grid-template-rows: auto;

    ul.languages-list {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      
      li.language {
        list-style: none;
        padding: 0;
      }
      
      li.language:before {
        content: '• ';
        font-size: 1.4em;
      }
    } 
  }
}

@media (max-width: 767px) {
  .pdf {
    display: none;
  }

  .nav {
    gap: .8em;
  }
  .nav-button > span {
    display: none;
  }
  .nav-button.view-pdf {
    display: block;
  }
}

@media (max-width: 1439px) {
  .main {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 1fr;
  }

  .section-form {
    border-right: none;
  }

  .section-resume {
    justify-self: center;
  }
}